<div class="tmpl-hh-office-banner tmpl-hh-sretail-banner">
  <div class="tmpl-hh-office-banner__top">
    <div
      class="tmpl-hh-office-banner__title tmpl-hh-office-banner__title_l tmpl-hh-retail-banner__title_l"
    >
      Новый взгляд на лидерство
    </div>
    <div
      class="tmpl-hh-office-banner__text tmpl-hh-office-banner__text_w tmpl-hh-retail-banner__text_w"
    >
      Принимай смело новые вызовы и развивай себя через команду.
    </div>
  </div>
  <div class="tmpl-hh-office-banner__bottom">
    <div
      class="tmpl-hh-office-banner__title tmpl-hh-office-banner__title_r tmpl-hh-retail-banner__title_r"
    >
      Достигай большего, а&#160;мы&#160;станем надёжной опорой
    </div>
    <div class="tmpl-hh-office-banner__text">
      У нас есть проекты для твоего горизонтального и вертикального роста.
      Расширяй свой опыт, прокачивай навыки и будь с компанией на одной волне.
    </div>
  </div>
</div>
