<div class="tmpl-hh-digital-slider swiper">
  <div class="tmpl-hh-digital-slider__wrapper swiper-wrapper">
    <img
      src="https://hhcdn.ru/ichameleon/340203.jpg"
      alt="Фото"
      class="tmpl-hh-digital-slider__slide swiper-slide"
    />
    <img
      src="https://hhcdn.ru/ichameleon/340204.jpg"
      alt="Фото"
      class="tmpl-hh-digital-slider__slide swiper-slide"
    />
    <img
      src="https://hhcdn.ru/ichameleon/340205.jpg"
      alt="Фото"
      class="tmpl-hh-digital-slider__slide swiper-slide"
    />
    <img
      src="https://hhcdn.ru/ichameleon/340206.jpg"
      alt="Фото"
      class="tmpl-hh-digital-slider__slide swiper-slide"
    />
    <img
      src="https://hhcdn.ru/ichameleon/340207.jpg"
      alt="Фото"
      class="tmpl-hh-digital-slider__slide swiper-slide"
    />
  </div>
  <div class="tmpl-hh-digital-slider__pagination"></div>
</div>
