<div class="tmpl-hh-office-banner tmpl-hh-digital-banner">
  <div class="tmpl-hh-office-banner__top">
    <div
      class="tmpl-hh-office-banner__title tmpl-hh-office-banner__title_l tmpl-hh-digital-banner__title_l"
    >
      Выбирай
    </div>
    <div
      class="tmpl-hh-office-banner__text tmpl-hh-office-banner__text_w tmpl-hh-digital-banner__text_w"
    >
      Расти вертикально или горизонтально, оставаться в&#160;одном направлении
      или пробовать разные.
    </div>
  </div>
  <div class="tmpl-hh-office-banner__bottom">
    <div
      class="tmpl-hh-office-banner__title tmpl-hh-office-banner__title_r tmpl-hh-digital-banner__title_r"
    >
      Реализуй себя через крутые проекты
    </div>
    <div class="tmpl-hh-office-banner__text">
      Мы&#160;любим смелые идеи и&#160;готовы помогать тебе их развивать,
      поддерживать экспертно и&#160;в&#160;обучении. Всё это &#8212; часть
      #inventivelife.
    </div>
  </div>
</div>
