<div class="tmpl-hh-start-stories">
  <div class="tmpl-hh-start-stories__title tmpl-hh-retail-stories__title">
    True story*
  </div>
  <div class="tmpl-hh-start-stories__subtitle">*реальная история</div>
  <div
    class="tmpl-hh-start-stories__item tmpl-hh-retail-stories__item tmpl-hh-start-stories__item_r"
  >
    <div class="tmpl-hh-start-stories__inner">
      <img
        src="https://hhcdn.ru/ichameleon/340208.jpg"
        alt="Фото"
        class="tmpl-hh-start-stories__img"
      />
      <img
        src="https://hhcdn.ru/ichameleon/340200.svg"
        alt="Стрелочка"
        class="tmpl-hh-start-stories__arrow tmpl-hh-retail-stories__arrow tmpl-hh-digital-stories__arrow tmpl-hh-start-stories__arrow_r"
      />
    </div>

    <div class="tmpl-hh-start-stories__wrapper">
      <div
        class="tmpl-hh-start-stories__item-title tmpl-hh-digital-stories__item-title"
      >
        <span>Серёжа,</span>
        бизнес-аналитик
      </div>
      <div
        class="tmpl-hh-start-stories__item-text tmpl-hh-digital-stories__item-text"
      >
        &#171;Я хочу развиваться, расширять кругозор, пробовать новое и делать
        то, что мне нравится &#8212; и Inventive даёт мне эту возможность!
        Классные люди, классные проекты, интересные задачи &#8212; это ещё один
        результативный день в компании!&#187;
      </div>
    </div>
  </div>
</div>
