@import '@/assets/scss/variables/media';

$root: '.tmpl-hh-about';

#{$root} {
  padding: 77px 40px 70px;
  margin-bottom: 77px;
  font-size: 25px;
  line-height: 120%;
  background-color: $black;
  color: $white;

  sup {
    font-size: inherit;
    color: $accent;
  }

  &__title {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    font-size: 100px;
    line-height: 99.99%;
  }

  &__text {
    margin-bottom: 65px;
  }

  &__tags {
    display: flex;
    margin-bottom: 72px;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__tag {
    display: inline-flex;
    padding: 8px 28px;
    border: 1px solid $white;
    border-radius: 9px;

    span {
      font-weight: 700;
    }
  }

  &__descr {
    color: $accent;
  }
}

@media (max-width: #{$mediaMD}) {
  #{$root} {
  }
}

@media (max-width: #{$mediaSM}) {
  #{$root} {
  }
}

@media (max-width: #{$mediaXS}) {
  #{$root} {
  }
}
