@import '@/assets/scss/variables/media';
@import '@/assets/scss/variables/colors';

$root: '.tmpl-hh-map';

#{$root} {
  position: relative;
  padding: 0 40px 546px;
  margin-bottom: 70px;

  &__title {
    position: relative;
    max-width: 500px;
    margin-bottom: 35px;

    h2 {
      font-size: 100px;
      font-weight: 400;
      line-height: 100%;
      color: $black;
    }

    img {
      position: absolute;
      top: -7px;
      right: -20px;
      width: 30px;
    }
  }

  &__filters {
    position: relative;
    z-index: 10;
  }

  &__regions {
    display: flex;
    margin-bottom: 45px;
    column-gap: 17px;
  }

  &__region {
    font-size: 25px;
    text-transform: capitalize;
    line-height: 120%;
    color: $black;
    cursor: pointer;
    transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out;

    @media(hover: hover) {
      &:hover {
        color: $accent;
      }
    }
  }

  &__brand {
    max-width: 358px;
    margin-bottom: 10px;
  }

  &__reset-button {
    $transition-time: .3s;

    padding: 10px 24px;
    border: 1px solid $real-black;
    border-radius: 9px;
    font-size: 25px;
    line-height: 120%;
    background-color: $white;
    color: $black;
    cursor: pointer;
    transition: background-color $transition-time ease-in-out, color $transition-time ease-in-out, border-color $transition-time ease-in-out;

    @media(hover: hover) {
      &:hover {
        border-color: $accent;
        background-color: $accent;
        color: $white;
      }
    }
  }

  &__map {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    svg {
      width: 100%;
      height: 100%;

      g {
        cursor: pointer;

        @media(hover: hover) {
          &:hover {
            path {
              fill: $accent;
              mask: none;
            }
          }
        }
      }
    }


  }
}

@media (max-width: #{$mediaMD}) {
  #{$root} {
    padding-bottom: 374px;
    margin-bottom: 60px;

    &__title {
      margin-bottom: 20px;

      h2 {
        font-size: 70px;
      }

      img {
        top: 3px;
        right: unset;
        left: 342px;
        width: 24px;
      }
    }

    &__regions {
      margin-bottom: 36px;
    }

    &__region {
      font-size: 20px;
    }

    &__brand {
      max-width: 288px;
    }

    &__reset-button {
      padding-right: 16px;
      padding-left: 16px;
      font-size: 20px;
    }

    &__map {
      width: 844px;
      height: 476px;
    }
  }
}

@media (max-width: #{$mediaSM}) {
  #{$root} {
    padding: 0 24px;

    &__title {
      margin-bottom: 32px;
    }

    &__regions {
      margin-bottom: 32px;
      flex-wrap: wrap;
      gap: 16px;
    }

    &__region {
      height: fit-content;
      padding: 8px 28px;
      border: 1px solid $black;
      border-radius: 64px;
      font-size: 20px;

      @media(hover: hover) {
        &:hover {
          border-color: $accent;
          background-color: $accent;
          color: $white;
        }
      }
    }

    &__brand {
      max-width: unset;

      .tmpl-hh-selector__list {
        height: 180px;
      }
    }

    &__map {
      display: none;
    }
  }
}

@media (max-width: #{$mediaXXS}) {
  #{$root} {
    padding: 0 16px;
    margin-bottom: 40px;

    &__title {
      h2 {
        font-size: 50px;
      }

      img {
        top: 1px;
        left: 244px;
        width: 20px;
      }
    }

    &__regions {
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 12px;
    }

    &__region {
      flex-grow: 1;
      font-size: 16px;
      text-align: center;
    }

    &__reset-button {
      padding: 8px 16px;
      font-size: 16px;
    }
  }
}
