@import '@/assets/scss/variables/media';

$root: '.tmpl-hh-map';

#{$root} {
  padding: 0 40px;

  &__title {
    position: relative;
    max-width: 500px;
    margin-bottom: 35px;

    h2 {
      font-size: 100px;
      font-weight: 400;
      line-height: 100%;
      color: $black;
    }

    img {
      position: absolute;
      top: -7px;
      right: -20px;
      width: 30px;
    }
  }

  &__regions {
    display: flex;
    margin-bottom: 45px;
    column-gap: 17px;
  }

  &__region {
    font-size: 25px;
    text-transform: capitalize;
    line-height: 120%;
    color: $black;
    cursor: pointer;
    transition: color .3s ease-in-out;

    @media(hover: hover) {
      &:hover {
        color: $accent;
      }
    }
  }
}

@media (max-width: #{$mediaMD}) {
  #{$root} {
  }
}

@media (max-width: #{$mediaSM}) {
  #{$root} {
  }
}

@media (max-width: #{$mediaXS}) {
  #{$root} {
  }
}
