@import '@/assets/scss/variables/media';

$root: '.tmpl-hh-map';

#{$root} {
  padding: 0 40px;
  margin-bottom: 350px;

  &__title {
    position: relative;
    max-width: 500px;
    margin-bottom: 35px;

    h2 {
      font-size: 100px;
      font-weight: 400;
      line-height: 100%;
      color: $black;
    }

    img {
      position: absolute;
      top: -7px;
      right: -20px;
      width: 30px;
    }
  }

  &__regions {
    display: flex;
    margin-bottom: 45px;
    column-gap: 17px;
  }

  &__region {
    font-size: 25px;
    text-transform: capitalize;
    line-height: 120%;
    color: $black;
    cursor: pointer;
    transition: color .3s ease-in-out;

    @media(hover: hover) {
      &:hover {
        color: $accent;
      }
    }
  }

  &__brand {
    max-width: 358px;
    margin-bottom: 10px;
  }

  &__reset-button {
    $transition-time: .3s;

    padding: 10px 24px;
    border: 1px solid $real-black;
    border-radius: 9px;
    font-size: 25px;
    line-height: 120%;
    background-color: $white;
    color: $black;
    cursor: pointer;
    transition: background-color $transition-time ease-in-out, color $transition-time ease-in-out, border-color $transition-time ease-in-out;

    @media(hover: hover) {
      &:hover {
        border-color: $accent;
        background-color: $accent;
        color: $white;
      }
    }
  }

  &__map {
    width: 100%;

    svg {
      width: 100%;

      g {
        cursor: pointer;

        @media(hover: hover) {
          &:hover {
            path {
              fill: $accent;
              mask: none;
            }
          }
        }
      }
    }


  }
}

@media (max-width: #{$mediaMD}) {
  #{$root} {
  }
}

@media (max-width: #{$mediaSM}) {
  #{$root} {
  }
}

@media (max-width: #{$mediaXS}) {
  #{$root} {
  }
}
