@import '@/assets/scss/variables/media';

$root: '.tmpl-hh-social';

@mixin backgroundImage($image-path) {
  background: url($image-path), lightgray 50% / cover no-repeat;
  background-position: center;
  background-size: cover;
}

#{$root} {
  margin-bottom: 70px;

  &__title {
    position: relative;
    display: flex;
    margin-bottom: 35px;
    justify-content: flex-end;

    h2 {
      width: fit-content;
      font-size: 100px;
      font-weight: 400;
      line-height: 100%;
      color: $black;
    }

    img {
      position: absolute;
      top: -7px;
      right: 614px;
      transform: rotate(-90deg);
    }
  }

  &__icons {
    display: flex;
    margin-bottom: 50px;
    justify-content: flex-end;
    column-gap: 20px;
  }

  &__icon {
    width: 44px;
    height: 44px;
  }

  &__carousel {
    &-wrapper {
      width: 100%;
      height: 703px;
    }

    &-item {
      width: 100%;
      height: 100%;

      &_office {
        @include backgroundImage('https://hhcdn.ru/ichameleon/340187.jpg')
      }

      &_shop {
        @include backgroundImage('https://hhcdn.ru/ichameleon/340188.jpg')
      }

      &_help {
        @include backgroundImage('https://hhcdn.ru/ichameleon/340191.jpg')
      }

      &_children {
        @include backgroundImage('https://hhcdn.ru/ichameleon/340189.png')
      }

      &_events {
        @include backgroundImage('https://hhcdn.ru/ichameleon/340190.png')
      }
    }

    &-custom-pagination {
      display: flex;
      margin-bottom: 50px;
      justify-content: flex-end;
      column-gap: 32px;
    }

    &-custom-bullet {
      font-size: 25px;
      line-height: 120%;
      color: $black;
      cursor: pointer;
      transition: color .3s ease-in-out;

      @media(hover: hover) {
        &:hover {
          color: $accent;
        }
      }

      &_active {
        color: $accent;
      }
    }
  }
}

@media (max-width: #{$mediaMD}) {
  #{$root} {
    margin-bottom: 60px;

    &__title {
      padding-right: 40px;
      margin-bottom: 30px;

      h2 {
        font-size: 70px;
      }

      img {
        top: -3px;
        right: 471px;
        width: 24px;
        height: 24px;
      }
    }

    &__icons {
      padding-right: 40px;
      margin-bottom: 40px;
    }

    &__carousel {
      &-custom-pagination {
        padding-right: 40px;
        margin-bottom: 40px;
        column-gap: 24px;
      }

      &-custom-bullet {
        font-size: 20px;
      }

      &-wrapper {
        height: 503px;
      }
    }
  }
}

@media (max-width: #{$mediaSM}) {
  #{$root} {
    &__title {
      padding-right: 24px;

      img {
        right: 455px;
      }
    }

    &__icons {
      padding-right: 24px;
    }

    &__carousel {
      &-custom-pagination {
        padding-right: 24px;
      }

      &-custom-bullet {
        font-size: 16px;
      }

      &-wrapper {
        height: 343px;
      }
    }
  }
}

@media (max-width: #{$mediaXXS}) {
  #{$root} {
    margin-bottom: 40px;

    &__title {
      padding-right: 16px;
      margin-bottom: 10px;

      h2 {
        font-size: 36px;
      }

      img {
        top: -8px;
        right: 229px;
        width: 20px;
      }
    }

    &__icons {
      padding-right: 16px;
      margin-bottom: 32px;
      column-gap: 12px;

      a {
        width: 24px;
        height: 24px;

        img {
          width: 24px;
        }
      }
    }

    &__carousel {
      &-custom-pagination {
        max-width: 270px;
        padding-right: 16px;
        margin-bottom: 16px;
        margin-left: auto;
        flex-wrap: wrap;
        gap: 12px;
      }

      &-custom-bullet {
        line-height: 100%;
      }

      &-wrapper {
        height: 163px;
      }
    }
  }
}
