@import '@/assets/scss/variables/media';
@import '@/assets/scss/variables/colors';

$root: '.tmpl-hh-stories';

#{$root} {
  padding: 0 40px 0;

  &:not(:last-child) {
    margin-bottom: 70px;
  }

  &__title {
    position: relative;
    width: fit-content;
    margin-bottom: 50px;
    margin-left: auto;

    h2 {
      font-size: 100px;
      font-weight: 400;
      text-align: right;
      line-height: 100%;
    }

    p {
      font-size: 25px;
      text-align: right;
      line-height: 115%;
    }

    img {
      position: absolute;
      top: -7px;
      left: -68px;
      width: 30px;
      transform: rotate(-90deg);
    }
  }

  &__stories {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
  }
}

@media (max-width: #{$mediaMD}) {
  #{$root} {
    &:not(:last-child) {
      margin-bottom: 60px;
    }

    &__title {
      margin-bottom: 4px;

      h2 {
        font-size: 70px;
      }

      p {
        font-size: 20px;
      }

      img {
        top: -8px;
        left: -72px;
        width: 24px;
      }
    }

    &__stories {
      row-gap: 50px;
    }
  }
}

@media (max-width: #{$mediaSM}) {
  #{$root} {
    padding: 0 24px 0;

    &__title {
      margin-bottom: 40px;

      h2 {
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: #{$mediaXXS}) {
  #{$root} {
    padding: 0 16px 0;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    &__title {
      margin-bottom: 32px;

      h2 {
        max-width: 188px;
        margin-bottom: 8px;
        font-size: 50px;
      }

      p {
        font-size: 16px;
      }

      img {
        left: 74px;
        width: 20px;
      }
    }

    &__stories {
      row-gap: 32px;
    }
  }
}
