@import '@/assets/scss/variables/media';
@import '@/assets/scss/variables/colors';

$root: '.tmpl-hh-story';

#{$root} {
  display: flex;
  width: 100%;
  justify-content: space-between;
  column-gap: 82px;

  &:nth-child(odd) {
    #{$root}__arrow {
      transform: rotate(180deg);
    }

    #{$root}__title {
      margin-right: 0;
      margin-left: auto;

      @media (max-width: #{$mediaSM}) {
        margin-left: unset;
      }
    }
  }

  &:nth-child(even) {
    #{$root}__photo {
      order: 2;

      @media (max-width: #{$mediaSM}) {
        margin-left: auto;
        order: unset;
      }
    }

    #{$root}__text-content {
      text-align: left;

      @media (max-width: #{$mediaSM}) {
        text-align: right;
      }
    }

    #{$root}__arrow {
      order: 2;
    }

    #{$root}__title {
      @media (max-width: #{$mediaSM}) {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  &__photo {
    $photo-size: 518px;
    height: $photo-size;
    border-radius: 30px;
    flex-basis: $photo-size;
    flex-grow: 0;
    flex-shrink: 0;
    object-fit: cover;
    object-position: center;
  }


  &__text-content {
    display: flex;
    flex-basis: 570px;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: flex-end;
    text-align: right;
    row-gap: 18px;

    p {
      font-size: 42px;
      line-height: 100%;
    }
  }

  &__title {
    display: flex;
    margin-right: auto;
    margin-left: 0;
    align-items: center;
    justify-content: space-between;


    h3 {
      font-size: 42px;
      font-weight: 400;
      line-height: 100%;
      color: $accent;
    }
  }
}

@media (max-width: #{$mediaMD}) {
  #{$root} {
    column-gap: 20px;

    &__photo {
      $photo-size: 415px;
      height: $photo-size;
      flex-basis: $photo-size;
    }

    &__text-content {
      flex-basis: 415px;
      row-gap: 15px;

      p {
        font-size: 32px;
      }
    }

    &__title {
      max-width: 385px;

      h3 {
        width: fit-content;
        font-size: 32px;
      }
    }

    &__arrow {
      height: 29px;
    }
  }
}

@media (max-width: #{$mediaSM}) {
  #{$root} {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 24px;

    &:nth-child(odd) {
      #{$root}__arrow {
        left: 465px;
      }
    }

    &:nth-child(even) {
      #{$root}__arrow {
        left: 47px;
      }
    }

    &__text-content {
      flex-basis: 100%;
      text-align: unset;
    }

    &__title {
      padding-left: 0;

      h3 {
        width: 100%;
      }
    }

    &__arrow {
      position: absolute;
      top: 193px;
    }
  }
}

@media (max-width: #{$mediaXXS}) {
  #{$root} {
    &:nth-child(odd) {
      #{$root}__arrow {
        left: 208px;
      }
    }

    &:nth-child(even) {
      #{$root}__arrow {
        left: 0;
      }
    }

    &__arrow {
      top: 81px;
    }

    &__photo {
      $photo-size: 192px;
      height: $photo-size;
      flex-basis: $photo-size;
    }

    &__title {
      h3 {
        font-size: 20px;
      }
    }

    &__text-content {
      p {
        font-size: 20px;
      }
    }
  }
}
