@import '@/assets/scss/variables/media';

$root: '.tmpl-hh-why-we';

#{$root} {
  margin-bottom: 70px;

  &__title {
    position: relative;
    width: fit-content;
    padding-left: 40px;
    margin-bottom: 60px;

    h2 {

      font-size: 100px;
      font-weight: 400;
      line-height: 100%;
      color: $black;
    }

    img {
      position: absolute;
      top: -15px;
      right: -15px;
      width: 30px;
      height: auto;
    }
  }

  &__wrapper {
    display: flex;
    border-bottom: 1px solid $black;
  }
}

@media (max-width: #{$mediaMD}) {
  #{$root} {
    margin-bottom: 60px;

    &__title {
      margin-bottom: 40px;

      h2 {
        font-size: 70px;
      }

      img {
        top: -9px;
        right: -15px;
        width: 24px;
      }
    }

    &__wrapper {
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media (max-width: #{$mediaSM}) {
  #{$root} {
    &__title {
      padding-left: 24px;
    }
  }
}

@media (max-width: #{$mediaXXS}) {
  #{$root} {
    margin-bottom: 40px;

    &__title {
      max-width: 193px;
      padding-left: 16px;
      margin-bottom: 20px;


      h2 {
        font-size: 50px;

      }

      img {
        top: -1px;
        right: -19px;
      }
    }
  }
}
