<div class="tmpl-hh-office-banner tmpl-hh-sstart-banner">
  <div class="tmpl-hh-office-banner__top">
    <div
      class="tmpl-hh-office-banner__title tmpl-hh-office-banner__title_l tmpl-hh-start-banner__title_l"
    >
      Рост — это реально
    </div>
    <div
      class="tmpl-hh-office-banner__text tmpl-hh-office-banner__text_w tmpl-hh-start-banner__text_w"
    >
      Выбирай, как тебе развиваться в компании, и строй карьеру, которая по
      душе.
    </div>
  </div>
  <div class="tmpl-hh-office-banner__bottom">
    <div
      class="tmpl-hh-office-banner__title tmpl-hh-office-banner__title_r tmpl-hh-start-banner__title_r"
    >
      <span>Возможностей</span> много, мы поддержим
    </div>
    <div class="tmpl-hh-office-banner__text">
      Хочешь вырасти до директора магазина, мерчендайзера или тренера? Мы
      поможем реализовать твои карьерные цели.
    </div>
  </div>
</div>
