<div class="tmpl-hh-start-stories">
  <div class="tmpl-hh-start-stories__title">True stories*</div>
  <div class="tmpl-hh-start-stories__subtitle">*реальные истории</div>
  <div class="tmpl-hh-start-stories__item tmpl-hh-start-stories__item_r">
    <div class="tmpl-hh-start-stories__inner">
      <img
        src="https://hhcdn.ru/ichameleon/340255.jpg"
        alt="Фото"
        class="tmpl-hh-start-stories__img"
      />
      <img
        src="https://hhcdn.ru/ichameleon/340200.svg"
        alt="Стрелочка"
        class="tmpl-hh-start-stories__arrow tmpl-hh-start-stories__arrow_r"
      />
    </div>

    <div class="tmpl-hh-start-stories__wrapper">
      <div class="tmpl-hh-start-stories__item-title">
        <span>Кирилл,</span> продавец Samsung
      </div>
      <div class="tmpl-hh-start-stories__item-text">
        &#171;Как-то раз управляющий из Мира Кубиков позвал меня поработать
        в&#160;Street Beat&#160;&#8212; и вот я&#160;в&#160;Samsung уже
        год.&#187;
      </div>
    </div>
  </div>
  <div class="tmpl-hh-start-stories__item tmpl-hh-start-stories__item_2">
    <div class="tmpl-hh-start-stories__wrapper">
      <div class="tmpl-hh-start-stories__item-title">
        <span>Данила,</span> продавец Xiaomi
      </div>
      <div class="tmpl-hh-start-stories__item-text">
        &#171;Я&#160;хотел устроиться в&#160;restore:, но&#160;по&#160;пути
        посчастливилось зайти в Xiaomi. Как&#160;же мне повезло в&#160;тот
        день!&#187;
      </div>
    </div>

    <div
      class="tmpl-hh-start-stories__inner tmpl-hh-start-stories__inner_order"
    >
      <img
        src="https://hhcdn.ru/ichameleon/340193.svg"
        alt="Стрелочка"
        class="tmpl-hh-start-stories__arrow tmpl-hh-start-stories__arrow_l"
      />
      <img
        src="https://hhcdn.ru/ichameleon/340212.jpg"
        alt="Фото"
        class="tmpl-hh-start-stories__img"
      />
    </div>
  </div>
</div>
