<div class="tmpl-hh-about">
  <h2 class="tmpl-hh-about__title">
		<span>
			Inventive.
			<img alt="" src="./assets/images/decor-arrow.svg"/>
		</span>
    <span>Возможно всё!</span>
  </h2>
  <p class="tmpl-hh-about__text">
    Привет, мы&#160;Inventive&#160;&#8212; один из&#160;лидеров<sup>*</sup>
    на&#160;рынке ритейла в&#160;России, который объединяет и&#160;развивает
    известные бренды. Мы&#160;работаем честно и&#160;открыто. Знаем, как
    сохранять команды и&#160;выстраивать эффективные процессы, не&#160;боимся
    пробовать и&#160;смело идём на&#160;эксперименты. Мы&#160;меняемся,
    но&#160;не&#160;изменяем себе. Видим людей, а&#160;не&#160;просто
    сотрудников, и&#160;помогаем расти профессионалам.
  </p>
  <div class="tmpl-hh-about__tags">
    <p class="tmpl-hh-about__tag">
      <span>в&#160;топе 50</span><sup>*</sup>&#160;самых крупных ритейлеров
    </p>
    <p class="tmpl-hh-about__tag">
      <span>1&#160;место</span> в&#160;сегменте розничных сетей<sup>**</sup>
    </p>
    <p class="tmpl-hh-about__tag"><span>18&#160;лет</span> на&#160;рынке</p>
    <p class="tmpl-hh-about__tag"><span>50+</span>&#160;брендов</p>
    <p class="tmpl-hh-about__tag"><span>3000+</span>&#160;сотрудников</p>
  </div>
  <div class="tmpl-hh-about__descr">
    <p>**рейтинг Head Hunter-2021 и&#160;Талантист-2023</p>
  </div>
</div>
