<div class="tmpl-hh-appreciate">
  <div class="swiper tmpl-hh-appreciate__carousel">
    <div class="swiper-wrapper tmpl-hh-appreciate__carousel-wrapper">
      <div class="swiper-slide tmpl-hh-appreciate__carousel-item tmpl-hh-appreciate__carousel-item_expediency"></div>
      <div class="swiper-slide tmpl-hh-appreciate__carousel-item tmpl-hh-appreciate__carousel-item_responsibility"></div>
      <div class="swiper-slide tmpl-hh-appreciate__carousel-item tmpl-hh-appreciate__carousel-item_honesty"></div>
      <div class="swiper-slide tmpl-hh-appreciate__carousel-item tmpl-hh-appreciate__carousel-item_respect"></div>
      <div class="swiper-slide tmpl-hh-appreciate__carousel-item tmpl-hh-appreciate__carousel-item_growth"></div>
    </div>
    <div class="swiper-pagination tmpl-hh-appreciate__carousel-pagination"></div>
  </div>
  <div class="tmpl-hh-appreciate__text-content">
    <div class="tmpl-hh-appreciate__title">
      <h2>Мы ценим</h2>
      <img alt="" src="./assets/images/decor-arrow.svg">
    </div>
    <div class="tmpl-hh-appreciate__arrow">
      <svg fill="none" height="88" viewBox="0 0 51 88" width="51" xmlns="http://www.w3.org/2000/svg">
        <path d="M50.9 62.1988C25.5 62.1988 25.5 87.7634 25.5 87.7634M25.5 87.7634C25.5 87.7634 25.5 62.1988 0 62.1988M25.5 87.7634V0.542969" stroke="#0F171E" stroke-width="5"/>
      </svg>
    </div>
    <div class="tmpl-hh-appreciate__items">
      <span class="tmpl-hh-appreciate__item">целесообразность</span>
      <span class="tmpl-hh-appreciate__item">ответственность</span>
      <span class="tmpl-hh-appreciate__item">честность</span>
      <span class="tmpl-hh-appreciate__item">уважение и доверие</span>
      <span class="tmpl-hh-appreciate__item">рост</span>
    </div>
  </div>
</div>
