<div class="tmpl-hh-back-button tmpl-hh-back-button_hidden" data-menu-link="#main">
  <div class="tmpl-hh-back-button__arrow">
    <svg fill="none" height="51" viewBox="0 0 88 51" width="88" xmlns="http://www.w3.org/2000/svg">
      <path d="M25.5629 50.9C25.5629 25.5 -0.00171163 25.5 -0.00171163 25.5M-0.00171163 25.5C-0.00171163 25.5 25.5629 25.5 25.5629 -3.5031e-06M-0.00171163 25.5L87.2187 25.5" stroke="#0F171E" stroke-width="5"/>
    </svg>
  </div>
  <span class="tmpl-hh-back-button__text">
    назад
  </span>
</div>
