<article class="tmpl-hh-navigation__item tmpl-hh-navigation__item_{{this.modifier}}">
  <div class="tmpl-hh-navigation__item-image"></div>
  <div class="tmpl-hh-navigation__item-name">
    <span>{{this.name}}</span>
    <img alt="" class="tmpl-hh-navigation__item-decor" src="./assets/images/decor-arrow.svg"/>
  </div>
  <p class="tmpl-hh-navigation__item-description">{{this.description}}</p>
</article>
