<div class="tmpl-hh-navigation">
  <article class="tmpl-hh-navigation__item tmpl-hh-navigation__item_office">
    <div class="tmpl-hh-navigation__item-image"></div>
    <div class="tmpl-hh-navigation__item-name">
      <span>офис</span>
      <img alt="" class="tmpl-hh-navigation__item-decor" src="./assets/images/decor-arrow.svg"/>
    </div>
    <p class="tmpl-hh-navigation__item-description">логистика, финансы, недвижимость и др.</p>
  </article>

  <article class="tmpl-hh-navigation__item tmpl-hh-navigation__item_digital">
    <div class="tmpl-hh-navigation__item-image"></div>
    <div class="tmpl-hh-navigation__item-name">
      <span>digital</span>
      <img alt="" class="tmpl-hh-navigation__item-decor" src="./assets/images/decor-arrow.svg"/>
    </div>
    <p class="tmpl-hh-navigation__item-description">IT, e-com, маркетинг и др.</p>
  </article>

  <article class="tmpl-hh-navigation__item tmpl-hh-navigation__item_retail">
    <div class="tmpl-hh-navigation__item-image"></div>
    <div class="tmpl-hh-navigation__item-name">
      <span>retail</span>
      <img alt="" class="tmpl-hh-navigation__item-decor" src="./assets/images/decor-arrow.svg"/>
    </div>
    <p class="tmpl-hh-navigation__item-description">управление магазинами</p>
  </article>

  <article class="tmpl-hh-navigation__item tmpl-hh-navigation__item_start">
    <div class="tmpl-hh-navigation__item-image"></div>
    <div class="tmpl-hh-navigation__item-name">
      <span>старт карьеры</span>
      <img alt="" class="tmpl-hh-navigation__item-decor" src="./assets/images/decor-arrow.svg"/>
    </div>
    <p class="tmpl-hh-navigation__item-description">розничные магазины, контактный центр, стажировки 18/20</p>
  </article>
</div>
