<div class="tmpl-hh-social">
  <div class="tmpl-hh-social__title">
    <h2>@inventivelife</h2>
    <img alt="" src="./assets/images/decor-arrow.svg">
  </div>
  <div class="tmpl-hh-social__icons">
    <a class="tmpl-hh-social__icon tmpl-hh-social__icon_tg" href="https://t.me/jobinventive" target="_blank">
      <img alt="Telegram" src="./assets/images/social/icons/tg.svg">
    </a>
    <a class="tmpl-hh-social__icon tmpl-hh-social__icon_vk" href="https://vk.com/inventivelife" target="_blank">
      <img alt="VK" src="./assets/images/social/icons/vk.svg">
    </a>
    <a class="tmpl-hh-social__icon tmpl-hh-social__icon_yt" href="https://www.youtube.com/c/inventivelife" target="_blank">
      <img alt="YouTube" src="./assets/images/social/icons/yt.svg">
    </a>
    <a class="tmpl-hh-social__icon tmpl-hh-social__icon_dz" href="https://dzen.ru/inventivelife" target="_blank">
      <img alt="Дзен" src="./assets/images/social/icons/dz.svg">
    </a>
  </div>

</div>
