<div class="tmpl-hh-social">
  <div class="tmpl-hh-social__title">
    <h2>@inventivelife</h2>
    <img alt="" src="https://hhcdn.ru/ichameleon/340121.svg" />
  </div>

  <div class="tmpl-hh-social__icons">
    <a
      class="tmpl-hh-social__icon tmpl-hh-social__icon_tg"
      href="https://t.me/jobinventive"
      target="_blank"
    >
      <img alt="Telegram" src="https://hhcdn.ru/ichameleon/340124.svg" />
    </a>
    <a
      class="tmpl-hh-social__icon tmpl-hh-social__icon_vk"
      href="https://vk.com/inventivelife"
      target="_blank"
    >
      <img alt="VK" src="https://hhcdn.ru/ichameleon/340122.svg" />
    </a>
    <a
      class="tmpl-hh-social__icon tmpl-hh-social__icon_yt"
      href="https://www.youtube.com/c/inventivelife"
      target="_blank"
    >
      <img alt="YouTube" src="https://hhcdn.ru/ichameleon/340123.svg" />
    </a>
    <a
      class="tmpl-hh-social__icon tmpl-hh-social__icon_dz"
      href="https://dzen.ru/inventivelife"
      target="_blank"
    >
      <img alt="Дзен" src="https://hhcdn.ru/ichameleon/340125.svg" />
    </a>
  </div>

  <div class="swiper tmpl-hh-social__carousel">
    <div
      class="tmpl-hh-social__carousel-custom-pagination"
      id="tmpl-hh-social-carousel-custom-pagination"
    >
      <span
        class="tmpl-hh-social__carousel-custom-bullet tmpl-hh-social__carousel-custom-bullet_active"
        data-slide-index="1"
        >офис</span
      >
      <span class="tmpl-hh-social__carousel-custom-bullet" data-slide-index="2"
        >магазины</span
      >
      <span class="tmpl-hh-social__carousel-custom-bullet" data-slide-index="3"
        >#inventiveпомогает</span
      >
      <span class="tmpl-hh-social__carousel-custom-bullet" data-slide-index="4"
        >#inventiveдети</span
      >
      <span class="tmpl-hh-social__carousel-custom-bullet" data-slide-index="5"
        >события</span
      >
    </div>
    <div class="swiper-wrapper tmpl-hh-social__carousel-wrapper">
      <div
        class="swiper-slide tmpl-hh-social__carousel-item tmpl-hh-social__carousel-item_office"
      ></div>
      <div
        class="swiper-slide tmpl-hh-social__carousel-item tmpl-hh-social__carousel-item_shop"
      ></div>
      <div
        class="swiper-slide tmpl-hh-social__carousel-item tmpl-hh-social__carousel-item_help"
      ></div>
      <div
        class="swiper-slide tmpl-hh-social__carousel-item tmpl-hh-social__carousel-item_children"
      ></div>
      <div
        class="swiper-slide tmpl-hh-social__carousel-item tmpl-hh-social__carousel-item_events"
      ></div>
    </div>
    <div
      class="swiper-pagination tmpl-hh-social__carousel-pagination tmpl-hh-carousel-pagination"
    ></div>
  </div>
</div>
