<div class="tmpl-hh-story">
  <img src="{{this.photo}}" alt="Photo" class="tmpl-hh-story__photo"/>

  <div class="tmpl-hh-story__text-content">
    <div class="tmpl-hh-story__title">
      <img class="tmpl-hh-story__arrow" src="/assets/images/arrow-right.svg" alt="Decorate arrow"/>
      <h3>{{this.title}}</h3>
    </div>
    <p class="tmpl-hh-story__description">{{this.story}}</p>
  </div>
</div>
