<div class="swiper ticker">
  <div class="swiper-wrapper ticker__wrapper">
    <div class="swiper-slide ticker__slide">restore:</div>
    <div class="swiper-slide ticker__slide">Samsung</div>
    <div class="swiper-slide ticker__slide">Xiaomi</div>
    <div class="swiper-slide ticker__slide">Street Beat</div>
    <div class="swiper-slide ticker__slide">Hiker</div>
    <div class="swiper-slide ticker__slide">Мир Кубиков</div>
    <div class="swiper-slide ticker__slide">UNOde40</div>
  </div>
</div>
