<div class="tmpl-hh-video" data-tmpl-hh-video>
  <div class="tmpl-hh-video__cover" data-tmpl-hh-video-cover>
    <button class="tmpl-hh-video__play-button" type="button">
      <svg fill="none" height="200" viewBox="0 0 200 200" width="200" xmlns="http://www.w3.org/2000/svg">
        <path d="M50 30.9841C50 19.7008 63.3887 13.7747 71.7408 21.3613L148.4 90.9936C154.081 96.1541 154.078 105.087 148.394 110.244L71.7351 179.795C63.3813 187.374 50 181.446 50 170.167V30.9841Z" fill="white"/>
      </svg>
    </button>
  </div>
  <iframe
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen="false"
    class='tmpl-hh-video__frame tmpl-hh-video__frame_hidden'
    data-tmpl-hh-video-frame
    frameborder="0" loading="lazy"
    src="https://www.youtube.com/embed/wzc90-E5u88?si=dv6nP93G4hMoze9f&amp;controls=0"
    title="YouTube video player"
    width="100%"
  ></iframe>
</div>
