<div class="tmpl-hh-video" data-tmpl-hh-video="">
  <div class="tmpl-hh-video__cover {{coverModifier}}" data-tmpl-hh-video-cover=""></div>
  <button class="tmpl-hh-video__play-button" data-tmpl-hh-video-play-button="" type="button">
    <svg fill="none" height="200" viewBox="0 0 200 200" width="200" xmlns="http://www.w3.org/2000/svg">
      <path d="M50 30.9841C50 19.7008 63.3887 13.7747 71.7408 21.3613L148.4 90.9936C154.081 96.1541 154.078 105.087 148.394 110.244L71.7351 179.795C63.3813 187.374 50 181.446 50 170.167V30.9841Z" fill="white"/>
    </svg>
  </button>
  <video
    class="tmpl-hh-video__video tmpl-hh-video__video_hidden"
    controls=""
    data-tmpl-hh-video-video=""
    playsinline="">
    <source src="https://hhcdn.ru/file/17713901.mp4" type="video/mp4"/>
    Твой браузер не поддерживает тег video
  </video>
</div>
