<div class="tmpl-hh-why-we-card tmpl-hh-why-we-card_{{this.modifier}}">
  <h3 class="tmpl-hh-why-we-card__title">{{this.title}}</h3>
  <div class="tmpl-hh-why-we-card__image"></div>
  <p class="tmpl-hh-why-we-card__description">
    {{this.descr}}
  </p>
</div>
