<div class="tmpl-hh-office-about">
  <div class="tmpl-hh-office-about__title">Inventive &#8212;&#160;это</div>
  <div class="tmpl-hh-office-about__items">
    <div class="tmpl-hh-office-about__item">
      <img
        src="https://hhcdn.ru/ichameleon/340193.svg"
        alt="Arrow"
        class="tmpl-hh-office-about__item-arrow"
      />
      <div class="tmpl-hh-office-about__item-text">
        <span>18 лет</span>
        на рынке
      </div>
    </div>
    <div class="tmpl-hh-office-about__item">
      <img
        src="https://hhcdn.ru/ichameleon/340193.svg"
        alt="Arrow"
        class="tmpl-hh-office-about__item-arrow"
      />
      <div class="tmpl-hh-office-about__item-text">
        <span> 50+</span>
        брендов
      </div>
    </div>
    <div class="tmpl-hh-office-about__item">
      <img
        src="https://hhcdn.ru/ichameleon/340193.svg"
        alt="Arrow"
        class="tmpl-hh-office-about__item-arrow"
      />
      <div class="tmpl-hh-office-about__item-text">
        <span>3000+</span>
        сотрудников
      </div>
    </div>
  </div>

  <div class="tmpl-hh-office-about__boxes">
    <div class="tmpl-hh-office-about__box">
      <span>в топе 50</span> самых крупных ритейлеров
      <div class="tmpl-hh-office-about__box-star">*</div>
    </div>
    <div class="tmpl-hh-office-about__box">
      <span>1 место</span> в сегменте розничных сетей
      <div class="tmpl-hh-office-about__box-star">**</div>
    </div>
  </div>

  <div class="tmpl-hh-office-about__bottom">
    *Рейтинг крупнейших компаний розничной торговли INFOLine Retail Russia
    Top-100, 2023
  </div>
  <div class="tmpl-hh-office-about__bottom">
    **Рейтинг Head Hunter-2021 и Талантист-2023
  </div>
</div>
