<div class="tmpl-hh-office-slider swiper">
  <div class="tmpl-hh-office-slider__wrapper swiper-wrapper">
    <img
      src="https://hhcdn.ru/ichameleon/340195.png"
      alt="Фото"
      class="tmpl-hh-office-slider__slide swiper-slide"
    />
    <img
      src="https://hhcdn.ru/ichameleon/340196.png"
      alt="Фото"
      class="tmpl-hh-office-slider__slide swiper-slide"
    />
    <img
      src="https://hhcdn.ru/ichameleon/340197.png"
      alt="Фото"
      class="tmpl-hh-office-slider__slide swiper-slide"
    />
    <img
      src="https://hhcdn.ru/ichameleon/340198.png"
      alt="Фото"
      class="tmpl-hh-office-slider__slide swiper-slide"
    />
    <img
      src="https://hhcdn.ru/ichameleon/340199.png"
      alt="Фото"
      class="tmpl-hh-office-slider__slide swiper-slide"
    />
  </div>
  <div class="tmpl-hh-office-slider__pagination"></div>
</div>
