<div class="tmpl-hh-start-stories">
  <div class="tmpl-hh-start-stories__title tmpl-hh-retail-stories__title">
    True story*
  </div>
  <div class="tmpl-hh-start-stories__subtitle">*реальная история</div>
  <div
    class="tmpl-hh-start-stories__item tmpl-hh-retail-stories__item tmpl-hh-start-stories__item_r"
  >
    <div class="tmpl-hh-start-stories__inner">
      <img
        src="https://hhcdn.ru/ichameleon/340201.jpg"
        alt="Фото"
        class="tmpl-hh-start-stories__img"
      />
      <img
        src="https://hhcdn.ru/ichameleon/340200.svg"
        alt="Стрелочка"
        class="tmpl-hh-start-stories__arrow tmpl-hh-retail-stories__arrow tmpl-hh-office-stories__arrow tmpl-hh-start-stories__arrow_r"
      />
    </div>

    <div class="tmpl-hh-start-stories__wrapper">
      <div
        class="tmpl-hh-start-stories__item-title tmpl-hh-office-stories__item-title"
      >
        <span>Даша, менеджер по </span> подбору персонала
      </div>
      <div
        class="tmpl-hh-start-stories__item-text tmpl-hh-office-stories__item-text"
      >
        &#171;Каждый день в Inventive &#8212; драйв, который заряжает на новые
        свершения и достижения. А удалёнка на неделе &#8212; приятный бонус
        после динамичных дней 😊&#187;
      </div>
    </div>
  </div>
</div>
