<div class="tmpl-hh-office-banner">
  <div class="tmpl-hh-office-banner__top">
    <div class="tmpl-hh-office-banner__title tmpl-hh-office-banner__title_l">
      Драйвовая атмосфера, в которую хочется возвращаться
    </div>
    <div class="tmpl-hh-office-banner__text tmpl-hh-office-banner__text_w">
      В&#160;нашем офисе нет дресс-кода, гибкий график, амбициозная команда,
      свой PlayStation и&#160;даже качели.
    </div>
  </div>
  <div class="tmpl-hh-office-banner__bottom">
    <div class="tmpl-hh-office-banner__title tmpl-hh-office-banner__title_r">
      И&#160;команда, которой можно доверять
    </div>
    <div class="tmpl-hh-office-banner__text">
      Мы&#160;поддерживаем друг друга словом и&#160;делом. Строим общение
      экологично и&#160;мягко, открыты к&#160;обратной связи и&#160;умеем
      её&#160;принимать.
    </div>
  </div>
</div>
